.Top-Wrap
{
	max-width  : 1200px;
	margin     : 0 auto;
	background : url("../img/bg-company-1.jpg") no-repeat center / cover;
	@at-root .Top
	{
		display     : table;
		width       : 50%;
		height      : 500px;
		max-width   : 100%;

		margin-left : auto;

		@at-root .Top-Content
		{

			display        : table-cell;
			vertical-align : middle;
			padding-left   : 40px;
			background     : url("../img/bg-dots.png") repeat;

			button
			{
				@extend %Uppercase;
				@extend %Unselectable;
				margin-top  : 40px;
				font-size   : 19rem;
				font-weight : bold;
				border      : 2px solid $C-Secondary;
				color       : white;
				padding     : 10px;
				transition  : all linear .2s;
				cursor      : pointer;
				&:hover
				{
					transition       : all linear .2s;
					background-color : $C-Primary;
					border           : 2px solid transparent;
					border-radius    : 18px 0 18px 0;
				}
			}
		}

	}

}
