%Soft-Hide
{
    height:     0;
    width:      0;
    opacity:    0;
    visibility: hidden;
}

table
{
    background: white;
    border-top: 4px solid #ff9800;
    font-size: 12rem;
    td
    {
        padding: 5px;
        font-size: 12rem;
        vertical-align: middle;
        border: 1px solid #d4d4d4;
    }
    th {
        font-size: 12rem;
        vertical-align: middle;
        padding: 5px;
        border: 1px solid #d4d4d4;
    }

    img{
        width: 100%;
        height: auto;
    }
}

