

.JS-Carousel
{
	position : relative;

	@at-root .JS-Carousel-List
	{
		position : relative;
		overflow : hidden;
		width    : 100%;
		height   : 100%;

		@at-root .JS-Carousel-Item
		{
			position   : absolute;
			top        : 0;
			left       : 0;
			width      : 100%;
			height     : 100%;

			// Change Animation Type
			transition : 0.5s ease-in;
		}
	}
}


