%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s linear;
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s, fill linear .2s, border linear .2s;
}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow
{
}

%Shadow-Text-Green
{
}

%Shadow-Text-Secondary
{
	text-shadow : 0 1px 0 rgba(231, 131, 0, .004);
}

%Shadow-Text-Primary
{
	text-shadow : 0 1px 0 rgba(0, 0, 0, .004);
}

%Shadow-Inset-Top
{
}

%Wrapper
{
	max-width : 1200px;
	margin    : 0 auto;

	@include Adaptive('>=desktop')
	{
	}
}

%Button-Base
{
	@extend %Form-Rounded;
	@extend %Unselectable;
}

%Button-Green
{
}

%Button-Yellow
{
	@extend %Transition-Fast;
	@extend %Shadow-Text-Secondary;
	background-color : $C-Secondary;
	box-shadow       : 0 4px 0 rgba(231, 131, 0, .004), 0 4px 8px 0 rgba(231, 131, 0, .004);
	width            : 200px;
	height           : 40px;
	font-size        : 14rem;
	color            : white;
	border-bottom    : 4px solid $C-Secondary-Dark;
	&:hover
	{
		@extend %Transition-Fast;
		@extend %Shadow-Text-Primary;
		background-color : $C-Primary;
		box-shadow       : 0 4px 0 rgba(2, 28, 60, .004), 0 4px 8px 0 rgba(2, 28, 60, .004);
		border-bottom    : 4px solid $C-Primary-Dark;
	}
}

%Button-Disabled
{
	@extend %Transition-Fast;
	background-color : $C-Third-Lite;
	color            : $C-Third;
	border-bottom    : 4px solid $C-Third;
	box-shadow       : none;
	text-shadow      : none;
}

%Go-Top-Button
{
	position         : fixed;
	right            : 40px;
	bottom           : 95px;
	max-width        : 1200px;
	margin           : 0 auto;
	transition       : all linear .2s;
	background-color : $C-Secondary;
	border           : 2px solid $C-Secondary;
	box-shadow       : 0 2px 0 0 rgba(0, 0, 0, .26);
	padding          : 10px 8px;
	border-radius    : 8px 0 8px 0;
	cursor           : pointer;
	svg
	{
		transition : all linear .2s;
		height     : 15px;
		width      : 20px;
		fill       : white;
	}

	&:hover
	{
		transition       : all linear .2s;
		border           : 2px solid white;
		background-color : $C-Primary-Dark;
		box-shadow       : none;

		svg
		{
			fill : $C-Secondary;
		}
	}

}

%Ruler
{
	&:before
	{
		content    : "";
		display    : block;
		height     : 10px;
		width      : 100%;
		background : url("../img/bg-ruler.png") repeat-x;
	}
}

%Header-Special
{
	@extend %Uppercase;
	@extend %Unselectable;
	margin      : 0 40px 40px;
	padding     : 10px 20px;
	border-left : 10px solid $C-Secondary;
}

%Link-Underline
{
	@extend %Transition-Fast;
	border-bottom : 1px solid $C-Secondary;
	&:hover
	{
		@extend %Transition-Fast;
		border-bottom : 1px solid $C-Third;
		color         : $C-Secondary;
	}
}








