.Site-Footer
{
	@extend %Ruler;
	@extend %Wrapper;
	background-color : $C-Primary;
	@at-root .Footer-Navigation
	{
		@extend %Unselectable;
		padding : 10px 30px;

		li
		{
			display        : inline-block;
			vertical-align : middle;
			border         : 2px solid transparent;
			padding        : 7px;
			& + li
			{
				margin-left : 10px;
			}
		}

		a
		{
			font-size      : 13rem;
			@extend %Transition-Fast;
			color          : white;
			display        : inline;
			padding-bottom : 2px;
			border-bottom  : 2px solid $C-Secondary;
			&:hover
			{
				color : $C-Secondary;
			}
		}

		.Active
		{
			border : 2px solid $C-Secondary;
			a
			{
				@extend %Transition-Fast;
				border-bottom : 2px solid transparent;
			}
		}

	}
	@at-root .Copyright
	{
		display          : table;
		width            : 100%;
		padding          : 15px 40px;
		background-color : $C-Primary-Dark;

		.Made-By
		{
			text-align : right;
		}

		.Otk, .Made-By
		{
			display        : table-cell;
			width          : 50%;
			vertical-align : middle;
			li
			{
				display        : inline-block;
				padding-bottom : 2px;
				vertical-align : middle;
				font-size      : 12rem;
				color          : white;
				& + li
				{
					border-left  : 1px solid white;
					margin-left  : 8px;
					padding-left : 5px;
				}
			}

			a
			{
				@extend %Transition-Fast;
				color          : $C-Secondary;
				border-bottom  : 1px solid transparent;
				font-weight    : bold;
				padding-bottom : 2px;
				&:hover
				{
					@extend %Transition-Fast;
					color         : white;
					border-bottom : 1px solid white;
				}
			}
			.Active
			{
				@extend %Transition-Fast;
				color         : white;
				border-bottom : 1px solid transparent;
			}
		}
	}
}