.Header-Wrap
{
	@extend %Ruler;
	@extend %Wrapper;
	position         : relative;
	padding-bottom   : 5px;
	background-color : $C-Primary;
	box-shadow       : 0 4px 0 0 rgba(0, 0, 0, .2);

	@at-root .Site-Header
	{

		display     : table;
		width       : 100%;
		padding     : 10px 40px;
		font-size   : 16rem;
		font-weight : 600;

		@at-root .Logo, .Phones
		{

			display        : table-cell;
			vertical-align : middle;

		}
		.Links
		{
			display        : table-cell;
			vertical-align : middle;
		}

		@at-root .Logo
		{

			width     : 27%;
			min-width : 180px;


			svg
			{
				height    : 72px;
				width     : 280px;
				max-width : 100%;
			}

		}
		.Links
		{
			width        : 53%;
			padding-left : 20px;

			li
			{
				@extend %Transition-Fast;
				display        : inline-block;
				vertical-align : middle;
				border         : 2px solid transparent;
				padding        : 7px;
				& + li
				{
					margin-left : 10px;
				}
			}

			a
			{
				@extend %Transition-Fast;
				color          : white;
				display        : inline;
				padding-bottom : 2px;
				border-bottom  : 2px solid $C-Secondary;
				&:hover
				{
					color : $C-Secondary;
				}
			}

			.Active
			{
				@extend %Transition-Fast;
				border : 2px solid $C-Secondary;

				a
				{
					@extend %Transition-Fast;
					color         : white;
					border-bottom : 2px solid transparent;
					cursor        : default;
				}
			}

			.Vk
			{
				margin : 0;
				border : none;

				a
				{
					border : none;
					cursor : pointer;
				}
			}

			svg
			{
				@extend %Transition-Fast;
				width   : 25px;
				height  : 25px;
				padding : 15px 15px 8px;
				fill    : $C-Secondary;
				&:hover
				{
					@extend %Transition-Fast;
					fill : white;
				}
			}
		}

		@at-root .Phones
		{

			text-align : right;
			color      : white;

			@include Adaptive('>=tablet')
			{
				width : 20%;
			}

			li
			{
				margin : 10px 0;
			}

			span
			{
				color        : #5379a7;
				margin-right : 3px;
			}
		}
		@at-root .Hamburger
		{
			display : none;
		}
	}

}
