.Catalog-List
{
	border-right : 1px solid $C-Third;
	border-top   : 1px solid $C-Third;
	.Item
	{
		border-left   : 1px solid $C-Third;
		border-bottom : 1px solid $C-Third;
	}
}

.Catalog-List, .Similar-List
{
	display : table;
	width   : 100%;

	.Item
	{
		position       : relative;
		display        : table-cell;
		width          : 25%;
		text-align     : center;
		padding-bottom : 60px;
		&:hover
		{
			h2 span
			{
				@extend %Transition-Fast;
				border-bottom : 1px solid $C-Third;
				color         : $C-Secondary;
			}
		}

		a
		{
			display : block;
		}
		h2
		{

			span
			{
				@extend %Transition-Fast;
				border-bottom : 1px solid $C-Secondary;
				font-weight   : bold;
			}
		}
	}

	.View
	{
		max-width         : 250px;
		margin            : 0 auto;
		background-repeat : no-repeat;
		background-size   : contain !important;
	}

	.Info
	{
		display  : table;
		width    : 100%;
		position : absolute;
		bottom   : 25px;
		cursor   : default;

		.Weight
		{
			svg:nth-of-type(1)
			{
				transform-origin : center;
				transform        : rotate(180deg);
			}

		}
		.Capacity, .Weight
		{
			display        : table-cell;
			vertical-align : middle;
			width          : 50%;

			svg:nth-of-type(1)
			{
				width  : 15px;
				height : 15px;
			}
			svg
			{
				vertical-align : middle;
				fill           : $C-Primary;
			}
			svg:nth-of-type(2)
			{
				width  : 35px;
				height : 25px;
			}
			span
			{
				font-size      : 14rem;
				font-weight    : 600;
				vertical-align : middle;
			}
		}
	}

	.Caption
	{
		width   : 0;
		height  : 0;
		display : none;
	}

	.Caption:nth-of-type(8n+8)
	{
		display : table-caption;
		width   : 100%;
	}

}
