.Company-News, .News
{
	.List
	{
		display : table;
		width   : 100%;
		padding : 0 40px;

		.Caption
		{
			display : none;
			&:nth-of-type(3n)
			{
				display : table-caption;
			}
		}
	}
	.Article
	{
		display        : table-cell;
		width          : 33.3%;
		padding-right  : 70px;
		padding-bottom : 30px;
		.View
		{
			position : relative;
			.Date
			{
				@extend %Unselectable;
				position         : absolute;
				bottom           : 0;
				right            : 0;
				padding          : 12px;
				color            : white;
				font-size        : 12rem;
				font-weight      : 600;
				text-align       : center;
				background-color : $C-Secondary;
			}
		}

		h3
		{
			font-weight : 600;
			font-size   : 18rem;
			margin      : 10px 0;
		}

		a
		{
			display:   block;
			max-width: 300px;
		}
	}
}
