.Pagination
{
    @extend %Unselectable;
    text-align: center;
    padding:    30px 40px;
    span
    {
        display:        inline-block;
        vertical-align: middle;
        font-size:      14rem;
        margin-right:   10px;
    }
    ul
    {
        display:        inline-block;
        vertical-align: middle;
    }
    li
    {
        display: inline-block;
    }
    a
    {
        @extend %Transition-Fast;
        display:     inline-block;
        font-size:   16rem;
        font-weight: 700;
        padding:     10px;
        border:      2px solid transparent;
        cursor:      pointer;
        margin:      0 1px;
        &:hover
        {
            @extend %Transition-Fast;
            border: 2px solid $C-Secondary;
        }
    }
    .Active
    {
        a
        {
            @extend %Transition-Fast;
            border: 2px solid $C-Secondary;
            cursor: default;
        }
    }
}