.Catalog
{
	background-color : white;
	@at-root .Catalog-Nav
	{
		padding          : 0 40px;
		background-color : $C-Primary-Dark;
		li
		{
			@extend %Transition-Fast;
			display        : inline-block;
			vertical-align : middle;
			padding        : 15px;
			&:hover
			{
				@extend %Transition-Fast;
				a
				{
					@extend %Transition-Fast;
					color         : $C-Secondary;
					border-bottom : 1px solid $C-Secondary;
				}
			}
			a
			{
				@extend %Transition-Fast;
				font-size      : 16rem;
				color          : white;
				padding-bottom : 2px;
				border-bottom  : 1px solid transparent;
			}

		}

		.Active
		{
			@extend %Transition-Fast;
			background-color : $C-Secondary;
			&:hover
			{
				a
				{
					border : transparent;
					color  : white;
					cursor : default;
				}
			}

		}
	}


}