@at-root .Good
{
	@extend %Clearfix;
	display          : table;
	width            : 100%;
	padding          : 40px 30px;
	background-color : $C-Third;
	.Mobile
	{
		display : none;
	}

	@at-root .Good-Title
	{
		@extend %Header-Special;
		@extend %Uppercase;
		font-weight : bold;
		margin      : 0 0 50px;
		small
		{
			font-size      : 14rem;
			font-weight    : 500;
			display        : block;
			margin-top     : 5px;
			text-transform : initial;
		}
	}
	@at-root .Good-Views
	{
		width          : 400px;
		display        : table-cell;
		vertical-align : top;

		.Large
		{
			max-width         : 100%;
			background-size   : auto !important;
			background-color  : white;
			border-bottom     : 2px solid $C-Third;
			margin            : 0 2px;
			background-repeat : no-repeat;
		}

		@at-root .View-Small
		{
			display : table;
			width   : 100%;


			.Small
			{
				max-width         : 33.3%;
				display           : table-cell;
				background-color  : white;
				border            : 2px solid $C-Third;
				height            : 107px !important;
				background-repeat : no-repeat;
				&:hover
				{
					border : 2px solid $C-Secondary;
				}
				img
				{
					width : 100%;
				}

			}
		}

	}
	@at-root .Good-Kinds
	{
		display        : table-cell;
		width          : 50%;
		vertical-align : top;
		padding-left   : 50px;
		h2
		{
			margin-bottom : 15px;
		}

		dl
		{
			display : table;
			padding : 5px 0;
		}

		dt, dd
		{
			display : table-cell;
			width   : 180px;
		}

		dt
		{
		}

		dd
		{
			font-weight : bold;
		}
	}

}

.Similar
{
	border-top  : 4px solid $C-Secondary;
	padding-top : 40px;
	@at-root .Similar-Title
	{
		@extend %Header-Special;
	}
}

