
.Company
{
    @extend %Wrapper;
    position:         relative;
    background-color: white;
    .Go-To
    {
        @extend %Link-Underline;
        position:       absolute;
        top:            50px;
        right:          40px;
        color:          $C-Primary;
        font-size:      13rem;
        font-weight:    600;
        padding-bottom: 2px;
    }

    @at-root .Company-Catalog
    {
        padding-top: 40px;
        h2
        {
            @extend %Header-Special;
        }

        .List
        {
            display:       table;
            width:         100%;
            border-left:   1px solid $C-Third-Lite;
            border-right:  1px solid $C-Third-Lite;
            border-bottom: 1px solid $C-Third-Lite;

            .Caption:nth-of-type(3n)
            {
                display: table-caption;
                width:   100%;
            }

            .Item:nth-of-type(6n + 3)
            {
                border-left:  1px solid $C-Third-Lite;
                border-right: 1px solid $C-Third-Lite;
            }

        }

        .Item
        {
            display:        table-cell;
            width:          33.3%;
            text-align:     center;
            border-top:     1px solid $C-Third-Lite;
            padding-bottom: 40px;
            padding-top:    10px;
            vertical-align: top;
            .View
            {
                max-height:          250px;
                background-size:     auto !important;
                background-repeat:   no-repeat;
                background-position: center;
            }

            h3
            {
                margin-top: 20px;
            }
            span
            {
                @extend %Transition-Fast;
                border-bottom: 1px solid $C-Secondary;
                font-weight:   700;
                display:       inline;
            }
            &:hover
            {
                span
                {
                    @extend %Transition-Fast;
                    border-bottom: 1px solid $C-Third-Lite;
                    color:         $C-Secondary;
                }
            }
        }
    }
    @at-root .Company-News
    {
        position:         relative;
        padding:          40px 0 20px;
        background-color: $C-Third-Lite;
        border-bottom:    3px solid $C-Secondary;

        h2
        {
            @extend %Header-Special;
        }

        .Article img
        {
            max-width: 100%;
        }

        a
        {
            display:   block;
            max-width: 300px;
        }
    }
    @at-root .Company-About
    {

        display: table;
        width:   100%;
        padding: 0 20px 60px;

        h2
        {
            @extend %Header-Special;
            margin:  25px 40px 25px;
            display: table-caption;
        }

        h3
        {
            font-size:     18rem;
            margin-bottom: 40px;
        }

        h4
        {
            font-weight:   600;
            margin-bottom: 28px;
        }

        article
        {
            display: table-cell;
            width:   50%;
            padding: 0 20px;
        }

        p
        {
            font-size:     14rem;
            font-weight:   600;
            line-height:   18rem;
            margin-bottom: 20px;
        }
    }

}