.Contacts
{
	display        : table;
	width          : 100%;
	padding-bottom : 50px;
	.Map
	{
		display : table-caption;
	}
	@at-root .Contacts-Info
	{
		display : table-cell;
		width   : 50%;
		padding : 25px 0;
		h2
		{
			@extend %Header-Special;
		}

		dl
		{
			padding   : 0 40px;
			max-width : 300px;
		}

		dd
		{
			font-size     : 14rem;
			margin-bottom : 30px;
		}

		dt
		{
			font-size     : 20rem;
			font-weight   : 600;
			margin-bottom : 15px;
		}

		.Info-Mail
		{
			span
			{
				display       : inline-block;
				width         : 30%;
				margin-bottom : 10px;
				&:nth-of-type(2n)
				{
					width : 70%;
				}
				a
				{
					@extend %Transition-Fast;
					@extend %Link-Underline;
					color : $C-Primary;
				}
			}
		}

	}
	@at-root .Contacts-Form
	{
		display : table-cell;
		width   : 50%;
		h2
		{
			@extend %Header-Special;
		}

		div
		{
			display : table;
			width   : 100%;
			padding : 0 0 20px 40px;
		}

		label
		{
			display        : table-cell;
			width          : 29%;
			font-size      : 14rem;
			vertical-align : middle;
		}

		.Align
		{
			padding-top    : 5px;
			vertical-align : top;
		}

		input, textarea
		{
			@extend %Transition-Fast;
			display        : table-cell;
			width          : 80%;
			border         : 2px solid $C-Third;
			font-size      : 14rem;
			padding-left   : 20px;
			vertical-align : top;
			&:focus
			{
				@extend %Transition-Fast;
				border : 2px solid $C-Secondary;
				color  : $C-Primary;
			}
		}

		input
		{
			height : 35px;
		}

		textarea
		{
			height      : 200px;
			padding-top : 20px;
			resize      : none;
		}

		button
		{
			@extend %Button-Yellow;
			display : block;
			margin  : 20px auto;
		}

	}
}