.New-Wrap
{
    display: table;
    width:   100%;
    @at-root .New
    {
        display:        table-cell;
        vertical-align: top;
        padding-top:    40px;
        h2
        {
            @extend %Header-Special;
            .Date
            {
                display:       block;
                margin-bottom: 10px;
                font-size:     12rem;
                font-weight:   600;
            }
        }

        .View
        {
            width:     100%;
            max-width: 560px;
            margin:    0 70px 30px;
        }

        p
        {
            padding: 0 40px 20px;
        }

        ul
        {
            padding:    0 60px 20px;
            list-style: disc;
            line-height: 20rem;
        }
    }

    .Menu
    {
        padding:          40px 30px;
        width:            400px;
        display:          table-cell;
        background-color: $C-Third;

        .Article
        {
            width:          100%;
            padding-bottom: 30px;
            .View
            {
                position: relative;
                .Date
                {
                    @extend %Unselectable;
                    position:         absolute;
                    bottom:           0;
                    right:            0;
                    padding:          12px;
                    color:            white;
                    font-size:        12rem;
                    font-weight:      600;
                    text-align:       center;
                    background-color: $C-Secondary;
                }
            }

            h3
            {
                font-weight: 600;
                font-size:   18rem;
                margin:      10px 0;
            }
        }
        .Caption
        {
            display: none;
            &:nth-of-type(3n)
            {
                display: table-caption;
            }
        }
    }

}