html
{
	font-size   : 1px;
	font-family : 'Exo 2', sans-serif;
	position    : relative;
}

body
{
	min-width        : 1100px;
	color            : $C-Third-Dark;
	background-color : #343434;
}

input, button, textarea
{
	&:focus
	{
		outline : none;
	}

}

a
{
	text-decoration : none;
	color           : $C-Third-Dark;
}

button
{
	border     : none;
	cursor     : pointer;
	padding    : 0;
	background : none;
}

h1
{
	font-size   : 34rem;
	font-weight : bold;
	color       : white;
}

h2
{
	font-size   : 20rem;
	font-weight : 500;
	line-height : 27rem;
}

h3
{
	font-size   : 16rem;
	font-weight : 500;
	line-height : 23rem;
}

h4
{
	font-size   : 14rem;
	font-weight : 500;
	line-height : 17rem;
}

h5
{
}

h6
{
}

p
{
	font-size   : 14rem;
	font-weight : 500;
	line-height : 17rem;
}

dt, dd, span, li
{
	font-size   : 14rem;
	line-height : 17rem;
	font-weight : 500;
}

main
{
	@extend %Wrapper;
	background-color : white;
}

.Main-Sprite
{
	display    : none;
	opacity    : 0;
	visibility : hidden;
}

.Go-Top
{
	@extend %Go-Top-Button;
}



